:root {
   --green-600: #3EB25E;
   --green-600-opacity: #3eb25f4d;
   --white: #ffffff;
   --black: #000000;

   --yellow: #FFFF7D;
   --gray: rgba(0, 0, 0, .25);

   --error: #d70909;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

/* Using the mobile-first method to create these pages :) */

body {
   background-color: var(--white);
}

.header {
   margin-top: 10%;
}

.wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}

.main-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0 15px;
}

.cover-container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.img-cover {
   width: 70vw;
   height: auto;
   /* View width (VW) to have a average measure compared to Figma Layout*/
   margin-left: -16vw;
   float: left;
}

.img-cover.vertical {
   height: auto;
   width: 90vw;
   margin-left: 0;
}

.title-cover {
   font-size: 13vw;
   font-weight: 700;
   line-height: 62.11px;
   text-align: center;
   margin: 10px 0 20px 0;
}

.title-cover.medium {
   font-size: 30px;
   line-height: 35.16px;
}

.title-cover.small {
   margin: 1.6vh 0 2vh 0;
   font-size: 5vw;
   line-height: normal;
}

.title-cover.small2 {
   margin: 1.6vh 0 2vh 0;
   font-size: 5vw;
   line-height: normal
}

.title-cover.large {
   font-size: 5vw;
   font-weight: 700;
   line-height: normal;
   text-align: left;
   margin-bottom: 10px;
}

.description {
   font-size: 6vw;
   font-weight: 700;
   line-height: 7.5vw;
   text-align: center;
   margin-top: 1vh;
}

.long-description {
   font-size: 18px;
   line-height: 28.13px;
   text-align: center;
}

.footer {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 26px;
   margin-bottom: 30px;
   padding: 0 10%;
}

.question-text {
   font-size: 4.6vw;
   font-weight: 700;
   margin: 12px 0 5px 0;
   line-height: normal;
   text-align: center;
}

.form-inputs {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.input-label {
   display: flex;
   flex-direction: row;
   align-items: center;
   font-size: 4.6vw;
   line-height: normal;
   margin-top: 1.6vw;
   color: var(--black);
   cursor: pointer;
}

input[type="radio"] {
   width: 4vw;
   height: 4vw;
   border-radius: 50%;
   background-color: var(--green-600-opacity);
   margin-right: 1.2vw;
   appearance: none;
   cursor: pointer;
   -moz-appearance: none;
   -webkit-appearance: none;
}

.textarea:hover {
   outline: auto;
}

input[type="radio"]:hover {
   background-color: var(--green-600);
}

input[type="radio"]:checked {
   background-color: var(--green-600);
   background-image: url('../assets/circle.svg');
   background-repeat: no-repeat;
   background-position-y: 50%;
   background-position-x: 50%;
   background-size: 1.6vw;
}

input[type="checkbox"] {
   width: 4vw;
   height: 4vw;
   border-radius: 2.5px;
   background-color: var(--green-600-opacity);
   margin-right: 1.2vw;
   cursor: pointer;
   appearance: none;
   -moz-appearance: none;
   -webkit-appearance: none;
}

input[type="checkbox"]:hover {
   background-color: var(--green-600);
}

input[type="checkbox"]:checked {
   background-image: url('../assets/check.svg');
   background-position: 50%;
   background-size: 2.5vw;
   background-repeat: no-repeat;
   background-color: var(--green-600);
}

.side-buttons {
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   margin-top: 10px;
   gap: 10px;
}

.button {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 48vw;
   height: 9.2vw;
   border-radius: 36px;
   background-color: var(--green-600);
   outline: none;
   border: 0;
   cursor: pointer;
   margin-top: 3vh;
}

.button:hover {
   background-color: var(--yellow);
}

.button:hover>.button-title {
   color: var(--black);
}


.button.side {
   height: 4vh;
   width: 35vw;
}

.button-title.side {
   font-size: 3.2vw;
}

.button.large {
   margin-top: 1.4vh;
   width: 100%;
   height: 26px;
}

.button.large3 {
   margin-top: 1.4vh;
   width: 100%;
}

.button-title {
   font-size: 5.2vw;
   font-weight: 700;
   color: var(--white);
   line-height: 25.78px;
   text-align: center;
}

.select-option-component {
   height: 10vw;
   width: 90vw;
   font-size: 5.2vw;
   padding: 0 5px 0 25px;
   background-color: var(--white);
   border-radius: 20px;
   outline: none;
   background-image: url(../assets/arrow-down.svg);
   background-repeat: no-repeat;
   background-position-y: 50%;
   background-position-x: 10px;
   border: 1px solid var(--gray);
   appearance: none;
   -moz-appearance: none;
   -webkit-appearance: none;
}

.textarea {
   width: 80vw;
   height: 18vh;
   border-radius: 20px;
   border: 1px solid var(--gray);
   margin-top: 10px;
   resize: none;
   outline: none;
   padding: 10px 15px;
}

.textarea.error {
   animation: shake 400ms;
   border: 2px solid var(--error);
}

.form-item {
   display: flex;
   flex-direction: column;
}

.form-item {
   margin-top: 10px;
}

.form-item>label {
   font-size: 16px;
   font-weight: 700;
   line-height: 18.75px;
   margin-bottom: 3px;
   margin-left: 10px;
}

.input-box {
   width: 85vw;
   height: 10vw;
   font-size: 2.2vh;
   border-radius: 20px;
   border: 1px solid var(--gray);
   padding: 0 10px;
}

input[type="text"]:hover,
input[type="number"]:hover,
input[type="email"]:hover {
   outline: auto;
}

.input-box.error {
   animation: shake 900ms;
   border: 2px solid var(--error);
}

.input-box#age {
   width: 110px;
}

.input-box::placeholder {
   color: var(--gray);
   font-size: 2.2vh;
}

.textarea-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.success-modal {
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: 0;
   right: 0;
   z-index: 5;
   background-color: var(--green-600);
   width: 60vw;
   height: 8vh;
   border-radius: 20px;
   animation: modal 2.2s ease-out;
   transform: translateX(20vw);
   margin-top: 2vh;
}

.double-button {
   margin-top: 2vh;
   width: 100%;
}

.effect {
   animation: modal 1s;
}

#sucess-text {
   font-size: 16px;
   color: var(--white);
   text-align: center;
}

#characters-quantity {
   color: var(--gray);
   font-size: 2vh;
   font-weight: 700;
   align-self: flex-end;
   margin-right: 10px;
   margin-top: 5px;
}

#desc {
   color: var(--gray);
   font-size: 2vh;
   font-weight: 400;
   align-self: flex-end;
   margin-right: 10px;
   margin-top: 5px;
}

@media screen and (min-width: 768px) {
   body {
      overflow: hidden;
   }
   .wrapper {
      width: 100%;
      height: 100vh;
      overflow: hidden;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
   }

   .wrapper.form {
      justify-content: flex-end;
   }

   .wrapper.form2 {
      justify-content: flex-end;
      padding-left: 25vw;
   }

   .main-container {
      flex-direction: row;
      padding: 0;
   }

   .title-cover {
      line-height: normal;
      font-size: 6.2vw;
   }

   .title-cover.small {
      font-size: 1.4vw;
      line-height: normal;
      margin: 2vh 0;
   }

   .select-option-component.form2 {
      margin-left: -3vw;
   }

   .title-cover.small.form {
      margin-left: -4.2vw;
   }

   .select-option-component.form {
      margin-left: -2.4vw;
   }

   .title-cover.small2 {
      font-size: 1.4vw;
      line-height: normal;
      margin: 11.2vh 0 2vh -8vw;
   }

   .title-cover.large {
      font-size: 1.6vw;
      line-height: normal;
      text-align: left;
      margin-top: 12vh;
      margin-left: 8vw;
      margin-right: 10vw;
      margin-bottom: 1vh;
   }

   .title-cover.medium {
      font-size: 2.5vw;
      line-height: normal;
      padding: 0 10vw;
   }

   .textarea {
      font-size: 1.3vw;
   }

   .description {
      font-size: 2vw;
      line-height: normal;
      margin-top: -.5vh;
   }

   .long-description {
      font-size: 1.6vw;
      line-height: normal;
      padding: 0 11vw;
   }

   .img-cover {
      height: 80vh;
      width: auto;
      margin-left: 5%;
   }

   .img-cover.index {
      margin-right: 8vw;
   }

   .img-cover.vertical {
      margin-left: 15vw;
      width: 38vw;
   }

   .img-cover.vertical.form {
      margin-left: 0;
      width: 38vw;
   }

   .question-text {
      margin-top: 4.2vh;
      margin-bottom: 2vh;
      font-size: 1.4vw;
      line-height: normal;
   }

   .double-button {
      margin-top: 4vh;
   }

   .textarea {
      width: 32vw;
      height: 30vh;
   }

   .question-text.medium {
      font-size: 1.4vw;
      line-height: normal;
      text-align: left;
   }

   .select-option-component:hover {
      outline: auto;
   }

   .select-option-component {
      width: 25vw;
      height: 6vh;
      font-size: 1.4vw;
      padding-left: 8%;
      background-size: .8vw;
      background-position-y: 50%;
      background-position-x: 4%;
   }

   input[type="radio"] {
      width: 1.3vw;
      height: 1.3vw;
      margin-right: .5vw;
   }

   input[type="radio"]:checked {
      background-size: .5vw;
      background-position-y: 50%;
      background-position-x: 48%;
   }

   input[type="checkbox"] {
      width: 1.3vw;
      height: 1.3vw;
      margin-right: .5vw;
   }

   input[type="number"]::-webkit-inner-spin-button,
   input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
   }

   input[type="checkbox"]:checked {
      background-position: 50%;
      background-size: 1vw;
   }

   .input-label {
      font-size: 1.35vw;
      line-height: normal;
   }

   .input-label+.input-label {
      margin-top: 1.8vh;
   }

   .button {
      height: 5vh;
      width: 18vw;
      margin-top: 8vh;
   }

   .button-title {
      font-size: 1.8vw;
   }

   .button.side {
      width: 13vw;
      height: 4.5vh;
   }

   .button.large {
      margin-top: 1.8vh;
      width: 100%;
      height: 4.2vh;
   }

   .button.large2 {
      margin-top: 1.8vh;
      width: 52%;
      height: 4.2vh;
   }

   .button.large3 {
      margin-top: 1.8vh;
      width: 60%;
      height: 4.2vh;
   }

   .button-title.side {
      font-size: 1.3vw;
   }

   .side-buttons {
      width: auto;
      margin: 0;
      justify-content: center;
      gap: 2vw;
   }

   .cover-container {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
   }

   .cover-container.form {
      margin-right: 8vw;
   }

   .cover-container.form2 {
      margin-right: 0;
   }

   .footer {
      width: auto;
      padding: 0;
   }

   .footer.form {
      margin-top: 14vh;
      margin-right: 12vw;
   }

   .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: auto;
   }

   .form-con {
      margin-top: 4vh;
   }

   .footer.form2 {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin-top: 26px;
      margin-bottom: 30px;
      padding-right: 15%;
      padding-left: 12%;
   }

   .wrapper.index {
      padding-right: 10vw;
   }

   .footer.form4 {
      padding-right: 10%;
      padding-left: 9%;
   }

   .footer.form5 {
      margin-right: 7%;
      padding-right: 10%;
      padding-left: 9%;
   }

   .form-item>label {
      font-size: 1.4vw;
      line-height: normal;
      margin-bottom: 1.6vh;
      margin-top: 1.6vh;
   }

   .form-item>.input-box {
      height: 5.6vh;
      width: 28vw;
      font-size: 1.4vw;
      padding: 0 .6vw;
   }

   .form-item>.input-box::placeholder {
      font-size: 1.2vw;
   }

   .input-box#age {
      width: 7.2vw;
   }

   .success-modal {
      animation: modal 2.2s ease-out;
      top: 0;
      transform: translateX(20vw);
      z-index: 5;
      margin-top: 2vh;
      width: 20vw;
      height: 8vh;
   }

   #sucess-text {
      font-size: 1.2vw;
      color: var(--white);
      text-align: center;
   }
}

.select-option-component::selection, img::selection,.form-item>.input-box::selection,
p::selection,
label::selection,
h1::selection {
   color: var(--black);
   background-color: var(--yellow);
}

@keyframes modal {
   0% {
      transform: translateX(20vw);
   }

   50% {
      transform: translateX(-2vw);
   }

   100% {
      opacity: 0;
      transform: translateX(-5vw);
   }
}

@keyframes shake {
   0% {
      transform: translateX(-1vw)
   }

   25% {
      transform: translateX(1vw)
   }

   50% {
      transform: translateX(-1vw)
   }

   75% {
      transform: translateX(1vw)
   }

   100% {
      transform: translateX(-1vw);
   }
}